<!DOCTYPE html>
<html lang="en">
<head>
	<title><%= title %></title>
	<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
	<meta http-equiv="pragma" content="no-cache">
	<meta name="keywords" content="" />
	<meta name="description" content="" />
	<meta name="format-detection" content="telephone=no,email=no,adress=no" />
	<% include common/top-data.html %>
</head>
<body>
<% include common/header.html %>
<%- body %>
<% include common/footer.html %>
<% include common/bottom-data.html %>
</body>
</html>