	<section id="main" class="container">
		<div class="content">
			<div class="tab-container users">
				<div class="tab-nav">
					<div class="tab-nav-item"><a>Sign In</a></div>
					<div class="tab-nav-item"><a>Register</a></div>
				</div>
				<div class="tab-content">
					<div class="tab-content-item">
						<form id="login" class="form-login">
							<ul>
								<li>
									<label>Username:</label>
									<div class="right-flw"><input name="username" placeholder="" type="text" /></div>
								</li>
								<li>
									<label>Password:</label>
									<div class="right-flw"><input name="password" placeholder="" type="password" /></div>
								</li>
							</ul>
							<div class="submit-bar">
								<div class="right-flw"><input value="SUBMIT" type="submit" /></div>
							</div>
						</form>
					</div>
					<div class="tab-content-item">
						<form id="login" class="form-login">

						</form>
					</div>
				</div>
			</div>

		</div>
	</section>